.wrapper {
  padding-inline: 1rem;
  padding-block: 1rem;
  inline-size: 100%;
  block-size: 100%;

  border-radius: var(--border_md, 1rem);
  box-shadow: var(--shadow_inner, inset 2px 2px 5px #babecc, inset -5px -5px 10px #ffffff);

  overflow: hidden;
}

.list {
  position: relative;

  display: flex;
  flex-direction: column;

  overflow-y: auto;
}

.item {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;

  inline-size: 100%;

  transition: transform var(--transition_md, 250ms) var(--easing_general, ease-in-out);
}
