.wrapper {
  flex: 1 1 auto;

  padding-inline: 1rem;
  padding-block: 1rem;

  inline-size: 100%;
  block-size: 100%;
  min-block-size: 0;

  border-radius: var(--border_md, 1rem);
  box-shadow: var(--shadow_inner, inset 2px 2px 5px #babecc, inset -5px -5px 10px #ffffff);

  overflow-y: auto;
  overflow-x: hidden;
}

.list {
  position: relative;

  inline-size: 100%;
}

.item {
  position: absolute;
  inset-block-start: 0;
  inset-inline-start: 0;

  inline-size: 100%;
}
