# Application
PORT=
APP_URL==
CLIENT_URL=

# Twitch Application (OAuth)
TWITCH_APP_CLIENT_ID=
TWITCH_APP_CLIENT_SECRET=
TWITCH_REDIRECT_URI=

# Bot Account
TWITCH_BOT_USERNAME=
TWITCH_BOT_ACCESS_TOKEN=
TWITCH_BOT_REFRESH_TOKEN=

# JWT
JWT_SECRET=