.dashboard {
  display: flex;
  align-items: stretch;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1.5rem;

  inline-size: 100%;
  /* block-size: 100%; */
}

.blockStart {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  max-inline-size: 26.25rem;
  block-size: 100%;
}

.blockCenter {
  flex: 1 0 auto;
  block-size: 100%;
}

.blockEnd {
  max-inline-size: 26.25rem;
  block-size: 100%;

  flex: 1 0 auto;
}

.settings,
.participants,
.winners,
.instructions {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}

.winners,
.instructions {
  block-size: 100%;
}

.settings {
  flex: 0 0 auto;
}

.participants {
  flex: 1 1 auto;
  min-block-size: 0;
  block-size: 30rem;
  max-block-size: 36rem;
}
