.winners {
  inline-size: 100%;
  block-size: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}

.controls {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 1.5rem;

  inline-size: 100%;
}

.copy {
  align-self: flex-end;
  max-inline-size: 17.5rem;
}

.confetti {
  position: absolute;
  top: 0;
  left: 50%;
  z-index: 2;

  transform: translateX(-50%);

  inline-size: 100%;
  block-size: 100%;

  user-select: none;
  pointer-events: none;
}
